# Environment variables
*.env
api_key.env

# Other common files to ignore
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

logs/
wandb/
.cursorrules

puzzle_jsons/
images/
.mypy_cache/
node_modules/

db_backup/