# Core dependencies
numpy
pydantic
pymongo
loguru
tqdm
Pillow
pygame

# Hugging Face dependencies
datasets
transformers
huggingface_hub

# For API interactions
requests
openai

# For image processing
matplotlib